*{
    font: 2vw;
}
.carousel-inner img{
    width: auto;
    height: 400px;
}

#pictures > img{
    width: auto;
    height: auto;
}

.logo{
    max-width: 100%;
    height: 50%;
    vertical-align: middle;
}

li {
    font: 1vw;
}

